*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  padding-top: 139px;
}
.hamburger {
  display: none;
}
.headermobile__logo {
  display: none;
}
.mobilenav {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.mobilenav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 70px;
}
.mobilenav__item {
}
.mobilenav__link {
  text-decoration: none;
  color: #1f272de5;
  font-size: 25px;
}
.close {
  display: block;
  position: absolute;
  right: 21px;
  top: 40px;
  cursor: pointer;
}
.headerTop {
  padding: 5px 73px 5px 133px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__connected {
  display: flex;
  align-items: center;

  flex: 1;
}
.header__phone {
}
.header__phonelist {
  list-style: none;
  padding: 0px 10px;
}
.verticalborder {
  border-right: 1px solid #7b57b0;
}
.header__reach {
  color: #8e5fd3;
  font-size: 20px;
}
.header__phonenum {
  color: #000 !important;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
.header__faxdetails {
  color: #000;
}
.header__faxdetails .fax {
  font-size: 16px;
}
.header__faxdetails .info {
  font-size: 16px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  background-color: #7b57b0;
  color: white;
  padding: 10px 73px;
}
.header__logo {
  /* position: absolute; */
  /* top: 23px;
  left: 144px; */
}
.header__list {
  list-style: none;
  display: flex;
  gap: 8px;
}
.header__item {
}
.header__link {
  display: block;
  padding: 0px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffffe5;
}
.header__connect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-right: 13px;
  margin-bottom: 16px;
}
.header__connect span {
  margin-right: 7px;
  font-size: 16px;
  color: #000;
}

  .slogan__new {
  margin-right: 7px;
  font-size: 16px;
  color: #7b57b0;
}

.header__socialitem {
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  background-color: #7b57b0;
  border-radius: 50%;
  cursor: pointer;
}
.header__mobile__socials .header__socialitem {
  transform: scale(0.7);
}
.header__mobile {
  margin-top: 60px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.shouldfix {
  position: fixed;
}
/* .shouldfix .header__mobile {
  margin-top: 40px;
} */
.header__mobile__phone {
  font-size: 18px;
}
.header__mobile__phonenumber {
  font-size: 16px;
}
.header__mobile__connected {
  font-size: 16px;
}
.header__mobile__socials {
  display: flex;
  align-items: center;
  gap: 0px;
}
.header__mobile__socials .header__socialitem {
  background-color: #8e5fd38a;
}
.header__mobile__connectedflex {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* BANNER STYLES */
.bannersmall {
  display: none;
}
.bannersmall__head {
  font-weight: 700;
  line-height: 31.99px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 17px;
}
.bannersmall__img {
  width: 100%;
  height: auto;
}
.bannersmall__content {
  padding: 24px 22px;
}
.bannersmall__innercontent {
  max-width: 248px;
  /* width: 100%; */
  margin: auto;
}
.bannersmall__text {
  font-size: 32px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  margin-bottom: 0px;
}
.bannersmall__text span {
  font-size: 24px;
}
.bannersmall__red {
  text-align: center;
  color: #ff4343;
  text-align: center;
  font-style: italic;
  margin-bottom: 14px;
}
.bannersmall__texttwo {
  color: #5d5d5d;
  line-height: 20px;
  margin-bottom: 27px;
  text-align: center;
  width: 238px;
  font-size: 16px;
}
.bannersmall__btn {
  /* margin: 0px 22px 3px; */
  padding: 18px 44px;
  border: none;
  background-color: #a574eb;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfc;
  cursor: pointer;
}
.banner {
  height: calc(100vh - 140px);
  background-image: url(../../public/images/dashboardimg.png);
  background-size: cover;
  padding-top: 99px;
  background-position: top right;
}
.banner__text {
  max-width: 502px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 21px 72px 35px;
  /* margin-top: 99px; */
  box-sizing: border-box;
  /* border-radius: 0px 200px 200px 0px; */
}
.banner__subheading {
  font-size: 32px;
  line-height: 25px;
  font-weight: 600;
}
.banner__heading {
  font-size: 50px;
  font-weight: 600;

  color: #1f272d;
}
.banner__red {
  color: #ff4343;
  font-size: 20px;
  margin-bottom: 11px;
  font-style: italic;
}
.banner__subtext {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #1f272d;
  margin-bottom: 20px;
}
.banner__btn {
  padding: 18px 44px;
  /* border-radius: 8px; */
  border: none;
  background-color: #a574eb;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfc;
  cursor: pointer;
  transition: 0.2s all ease;
}
.banner__btn:hover {
  background-color: black;
}
.banner__image {
}

/* MAIN SECTION STYLES */
.main {
  /* margin: 0px 94px 0px 144px; */
}

/* SERVICES STYLES */
.services {
  padding: 42px 0px 24px;
  margin: 0px 94px 0px 144px;
}
.services__heading {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 18px;
  color: #1f272d;
}
.services__subheading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 39px;
  color: #9754cb;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.services__card {
  border-radius: 16px;
  overflow: hidden;
  background-color: #fcf5ff;
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s linear;
  transform: translateY(90px);
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.slide-in {
  transform: translateY(0px);
  opacity: 1;
}
.services__card:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
}

.services__cardimg {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 16px;
}
.services__cardheading {
  font-size: 28px;
  font-weight: 400;
  line-height: 37.32px;
  margin-bottom: 16px;
  text-align: center;
}
.services__cardtext {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
  color: #1f272d;
  line-height: 22px;
  padding: 0px 23px;
  flex: 1;
  margin-bottom: 24px;
}
.service__btn {
  padding: 16px 30px;
  border: none;
  background-color: #a574eb;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfc;
  margin: auto;
  text-decoration: none;
  transition: 0.2s all ease;
}
.service__btn:hover {
  background-color: black;
}
/* APPOINTMENT STYLES */
.appointment {
  display: flex;
  padding: 74px 94px 74px 144px;
  display: flex;
  gap: 59px;
  align-items: center;
  background-color: #7b57b0;
  justify-content: center;
}
.appointment__image {
  background-color: #fcf5ff;
}
.appointment__info {
  max-width: 418px;
}
.appointment__heading {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 30px;
}
.appointment__text {
  color: #ffffff;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 200;
}
.appointment__btn {
  padding: 20px 30px;
  border: none;
  background-color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #a574eb;
  cursor: pointer;
  transition: 0.2s all ease;
}
.appointment__btn:hover {
  background-color: #000;
  color: #fff;
}
/* CONTACT STYLES */
.contact {
  padding: 54px 94px 39px 144px;
  display: flex;
  align-items: center;
  gap: 50px;

  justify-content: center;
}
.contact__info {
  max-width: 403px;
}
.contact__heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 30px;
}
.contact__btn {
  padding: 20px 30px;
  border: none;
  background-color: #a574eb;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfc;
  text-decoration: none;
  transition: 0.2s all ease;
}
.contact__btn:hover {
  background-color: black;
}
.contact__image {
}

/* FOOTER */
.footer {
  background-color: #7b57b0;
  padding: 55px 74px 34px;
}
.footer__flex {
  display: flex;
  gap: 80px;
  margin: 0 70px;
  justify-content: space-between;
}
.footer__flex > * {
  /* flex: 1; */
}
.footer__heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.39px;
  color: #ffffff;
  margin-bottom: 38px;
}
.footer__heading span {
  font-size: 24px;
}
h3.footer__heading {
  font-size: 30px;
}
.footer__text {
  /* margin-top: 38px; */
  font-size: 20px;
  color: #fcfcfc;
  font-weight: 300;
  line-height: 28px;
  max-width: 282px;
}
.footer__hr {
  margin-top: 88px;
  margin-bottom: 26px;
  border-color: #f4f4f499;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__item {
  font-size: 18px;
  font-weight: 300;
  line-height: 26.66px;
  color: #ffffff;
  text-decoration: none;
}
.footer__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 26.66px;
  color: #ffffff;
  text-decoration: none;
}
.footer__logo {
  translate: 0px 50px;
}
.footer__copy {
  text-align: center;
  color: #ffffff;
}
.footer__sociallist {
  display: flex;

  gap: 8px;
  align-items: center;
}
.footer__sociallist p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.footer__socialitem {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.footer__socialimg {
}

/* SPECIAL CLASS */
.playfair {
  font-family: var(--font-playfair);
}

/* CONTACT PAGES */

/* BANNER */
.contactbanner {
  display: grid;
  place-content: center;
  height: 315px;
  background-color: #7b57b0;
}
.contactbanner__title {
  color: #ffffff;
  font-size: 700;
  font-size: 50px;
}
.contactmain {
  padding: 0px 130px 42px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}
.form {
}
.form__group {
  margin-bottom: 48px;
}
.form__label {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #1f272d;
  margin-bottom: 15px;
  display: block;
}
.form__flex {
  display: flex;
  gap: 24px;
}
.form__input {
  width: 100%;
  border: 1px solid #1f272dcc;
  border-radius: 8px;
  font-size: 20px;
  padding: 17px 8px;
}
.form__textarea {
  width: 100%;
  border: 1px solid #1f272dcc;
  border-radius: 8px;
  font-size: 20px;
  padding: 17px 8px;
  height: 200px;
}
.form__btn {
  padding: 20px 30px;
  border: none;
  background-color: #a574eb;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfc;
}
.address {
  font-size: 18px;
}
.address__title {
  color: #1f272d;
  margin-bottom: 8px;
}
.address__value {
  color: #5d5d5d;
}
.address__time {
  color: #5d5d5d;
  margin-bottom: 22px;
}
.phone {
  color: #1f272d;
  margin-bottom: 8px;
}
.phone__val {
  color: #5d5d5d;
  /* margin-bottom: 24px; */
}
.email {
  color: #1f272d;
  margin-bottom: 8px;
}
.email__val {
  color: #5d5d5d;
}

/* ABOUT PAGES */
.aboutbanner {
  display: grid;
  place-content: center;
  height: 315px;
  background-color: #7b57b0;
}
.aboutbanner__title {
  color: #ffffff;
  font-size: 700;
  font-size: 50px;
}
.aboutmain {
  padding: 0px 30px;
  max-width: 1190px;
  margin: 0px auto 31px;
}
.sweethome {
  line-height: 25px;
  color: #5d5d5d;
  font-size: 18px;
  margin-bottom: 20px;
}
.personalized {
  color: #5d5d5d;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}
.personalized__top {
}
.personalized__bottom {
}
.address {
  padding: 0px 48px;
  color: #5d5d5d;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 106px;
}
.addresscontact {
  padding: 0px 48px;
  color: #5d5d5d;
  font-size: 18px;
}
.address__left {
}
.addresscontact__title {
  margin-bottom: 8px;
  color: #1f272d;
}
.address__title {
  margin-bottom: 8px;
  color: #1f272d;
}
.addresscontact__value {
  line-height: 28px;
  margin-bottom: 12px;
}
.addresscontact__time {
  margin-bottom: 19px;
}
.address__value {
}
.address__time {
  margin-top: 52px;
}
.address__right {
}
.phone {
  color: #1f272d;
}
.phone__val {
}
.email {
  color: #1f272d;
  margin-top: 20px;
  margin-bottom: 10px;
}
.email__val {
}
.servicepage__main {
}
.servicepage__imagebox {
  height: 550px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicepage__imagetext {
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #a574eb;
  padding: 13px;
  margin-top: 24px;
  /* margin-bottom: 48px; */
}
.servicepage__infosection {
  max-width: 1151px;
  margin: auto;
  padding: 0px 30px 40px;
}
.servicepage__infohead {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 27.6px;
  text-align: center;
  margin-bottom: 30px;
  color: #2f253d;
}
.servicepage__infotext {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 25px;
  color: #5d5d5d;
}
@media (max-width: 1301px) {
  .address {
    padding: 0px;
    color: #5d5d5d;
    font-size: 18px;
    gap: 50px;
  }
}
@media (max-width: 1200px) {
  .contact {
    gap: 50px;
  }
  .services {
    margin: 0px 94px 0px 94px;
  }
  .appointment,
  .contact {
    padding: 106px 94px 94px 94px;
  }
  .contactmain {
    padding: 0px 50px 103px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    gap: 70px;
    align-items: center;
  }
  .header__logo {
    left: 60px;
  }
  .header__connected {
    /* margin-left: 240px; */
  }
  .footer__flex {
    margin: 0 30px;
  }
}

@media (max-width: 1102px) {
  .banner {
    background-position: center;
  }
  .servicepage__imagebox {
    background-position: center;
  }
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    /* padding: 5px 100px; */
  }
  .appointment,
  .contact {
    padding: 106px 60px 94px 60px;
  }
  .appointment__image {
    width: 500px;
  }
  .contact__image {
    width: 500px;
  }
  .services {
    margin: 0px 60px 0px 60px;
  }
  .footer__flex {
    gap: 30px;
    margin: 0;
  }
}

@media (max-width: 900px) {
  body {
    padding-top: 0px;
  }
  .contact {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .appointment {
    flex-direction: column;
  }

  .contactmain {
    grid-template-columns: 1fr;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 21px;
    top: 60px;
    cursor: pointer;
  }
  .headermobile__logo {
    display: block;
    position: absolute;
    left: 21px;
    top: 40px;
    width: 54px;
    height: 61px;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    width: 76px;
    height: 85px;
    top: 40px;
    left: 20px;
  }
  .headerTop {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
  .appointment__image {
    width: 100%;
  }
  .contact__image {
    width: 100%;
  }
  .footer__flex {
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
  }
  .contact__info {
    text-align: center;
  }
  .header {
    padding: 10px 0px;
    position: static;
  }
  .shouldfix {
    position: fixed;
  }
  .addresscontact {
    padding: 0px 0px;
  }
}
@media (max-width: 692px) {
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    padding: 10px 20px;
  }
  .banner__text {
    padding: 40px 108px 78px 80px;
  }
  .footer__list {
    gap: 50px;
  }
  .footer {
    padding: 82px 55px 48px;
  }
  .aboutmain {
    /* padding: 131px 30px 103px; */
  }
  .address {
    padding: 0px 0px;
  }
  .servicepage__infosection {
    padding: 64px 70px;
  }
}
@media (max-width: 590px) {
  .bannersmall {
    display: block;
  }
  .banner {
    display: none;
  }

  .contact__image {
    width: 100%;
  }
  .appointment__image {
    width: 100%;
  }
  .contactmain {
    padding: 0px 30px 103px;
  }

  .header {
    padding: 10px 0px;
    justify-content: center;
  }
  .address {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 439px) {
  .form__flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .services {
    /* padding: 59px 21px; */
  }
  .appointment,
  .contact {
    padding: 106px 0px 94px 0px;
  }
  .services {
    margin: 0px 21px 0px 21px;
  }
  .servicepage__infosection {
    padding: 64px 30px;
  }
  .services__heading {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .services__subheading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .services__card {
    /* background-color: white; */
  }
  .contact__heading,
  .appointment__heading {
    font-size: 32px;
  }
  .services__cardheading {
    margin-bottom: 0px;
  }
  .appointment {
    padding-top: 0px;
  }
  .appointment__heading {
    font-size: 32px;
  }
  .appointment__info {
    text-align: center;
    padding: 0px 51px;
  }
  .appointment__btn {
    /* width: 100%; */
    align-self: center;
    display: unset;
  }

  .contact {
    flex-direction: column-reverse;
  }
  .contact__heading {
    font-size: 32px;
    text-align: center;
  }
  .contact__text {
    text-align: center;
    padding: 0px 51px;
  }
  .contact__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .contact__info {
    padding: 30px;
  }
  .contact__text {
    padding: 0px;
  }
  .main {
    margin: 0px;
  }
  .footer {
    padding: 82px 30px 48px;
  }
  .footer__heading {
    font-size: 32px;
    line-height: 42px;
  }
  .footer__list {
    flex-direction: column;
    gap: 25px;
  }
  .footer__hr {
    margin-bottom: 48px;
  }
  .aboutbanner__title,
  .contactbanner__title {
    font-size: 32px;
  }
  .aboutmain,
  .contactmain {
    /* padding: 48px 20px; */
  }
  .sweethome {
    font-size: 16px;
  }
  .personalized {
    font-size: 16px;
  }
  .form__btn {
    width: 100%;
  }
}
/* 1013 */
